<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info row">
                <div class="col-8">
                    <h2 class="heading-title">OWNER DETAILS</h2>
                </div>            
                <div class="col-4">
                    <div class="row">
                        <div class="col-3">
                            <button mat-raised-button class="bg-primary text-white btn btn-block" (click)="newForm()" style="float: right;">
                                <mat-icon>add</mat-icon>
                            </button> 
                        </div>
                        <div class="col-3">
                            <button mat-raised-button class="bg-success text-white btn btn-block"  (click)="submitForm()" style="float: right;">
                                <mat-icon>note_add</mat-icon> 
                            </button>
                        </div>
                        <div class="col-3">
                            <button mat-raised-button class="bg-info text-white btn btn-block"  (click)="gotoPropertyDetails('/crm/property/details', cprno.value)" style="float: right;">
                                <mat-icon>note_add</mat-icon> 
                            </button>
                        </div>
                        <div class="col-3">
                            <button mat-raised-button class="bg-warning text-white btn btn-block"  [routerLink]="['/crm/member-list']" style="float: right;">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <form class="form-container" [formGroup]="memberForm">
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>CPR Number</mat-label>
                                        <input #cprno type="text" formControlName="cprno" matInput required (keydown.enter)="getDetails(cprno.value)">
                                        <mat-error>CPR is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-9">
                                    <p [ngStyle]="getMessageStyles(mesBgdColour,mesTxtColour,mexBorColour)" style="height: 75%; width: 100%; text-align: center; padding-top: 1%;">{{ messageString }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Name</mat-label>
                                        <input type="text" formControlName="name" matInput required>
                                        <mat-error>Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Member ID</mat-label>
                                        <input type="text" formControlName="memberNo" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Landlord ID</mat-label>
                                        <input type="text" formControlName="landLordId" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Member Type</mat-label>
                                        <mat-select #memberType formControlName="memberType" required (focusout)="checkDependents(memberType.value,cprno.value)">
                                            <mat-option value="O"> Owner </mat-option>
                                            <mat-option value="P"> Proxy </mat-option>
                                            <mat-option value="R"> Relative </mat-option>
                                            <mat-option value="T"> Tenant </mat-option>
                                          </mat-select>
                                        <mat-error>
                                            Member Type is <strong>required</strong>
                                        </mat-error>                                    
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Address 1</mat-label>
                                        <input type="text" formControlName="add1" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Address 2</mat-label>
                                        <input type="text" formControlName="add2" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Address 3</mat-label>
                                        <input type="text" formControlName="add3" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Phone 1</mat-label>
                                        <input type="text" formControlName="phone1" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Phone 2</mat-label>
                                        <input type="text" formControlName="phone2" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Mobile Number</mat-label>
                                        <input type="text" formControlName="mobile" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-3">
                                    <mat-form-field class="full-width"> 
                                        <mat-label>Email ID</mat-label>
                                        <input type="text" formControlName="email" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <img [src]="imageSrc" *ngIf="imageSrc" style="width:100%">
                                <input id="image" type="file" class="form-control" 
                                (change)="onFileChange($event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="height: 50vh; overflow-y: auto;">
                        <div *ngIf="openDependentMembers" >
                            <table class="table table-borderless table-hover table-responsive-xxl" formArrayName="dependentMembers">
                                <thead>
                                    <tr class="table-reflow" style="background-color: rgb(2, 46, 82); color: white;">
                                        <th style="width: 25%;">
                                            Name
                                        </th>
                                        <th style="width: 15%;">
                                            CPR
                                        </th>
                                        <th style="width: 10%;">
                                            Address 1
                                        </th>
                                        <th style="width: 10%;">
                                            Address 2
                                        </th>
                                        <th style="width: 10%;">
                                            Address 3
                                        </th>
                                        <th style="width: 10%;">
                                            Mobile
                                        </th>
                                        <th style="width: 10%;">
                                            Email
                                        </th>
                                        <th style="width: 10%;"> </th>
                                    </tr>
                                </thead>
                                <tbody (keydown.alt.n)="addDependentMember()">
                                    <tr #depMem *ngFor="let dM of dependentMembers.controls; let i = index;" [formGroupName]="i" (keydown.alt.x)="deleteDependentMember(i)">
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="dname">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="dcprno">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="add1">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="add2">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="add3">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="mobile">
                                        </td>
                                        <td>
                                            <input class="form-control form-control-sm" type="text" formControlName="email">
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="button" (click)="deleteDependentMember(i)"> &#10005; </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-success" type="button" (click)="addDependentMember()"> &#43; </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>