<div class="menu-secondary-actions">
  <button type="button" class="close-menu-btn btn btn-link" (click)="closeAltMenu()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="menu-heading">
  <h3 class="heading-title">Notifications</h3>
  <!-- <button type="button" class="clear-notifications-btn">Mark all as read</button> -->
</div>
<!--
<div class="menu-illustration-wrapper">
  <cc-aspect-ratio [ratio]="{w: 430, h: 225}">
    <cc-image-shell class="menu-illustration" animation="spinner" [src]="'/assets/illustrations/notifications-illustration.svg'" [alt]="'Notifications Illustration'"></cc-image-shell>
  </cc-aspect-ratio>
</div>
-->

<ul class="notifications-list list-group list-group-flush" *ngIf="showCRM">
  <li class="notification-item list-group-item" *ngFor="let not of notificationArr; let i = index">
    <div class="notification-info">
      <span class="user-name">{{ i+1 }} | {{ not.LANDLORD }}</span>
      <span class="notification-message">CPR Number: {{ not.CPRNO }}<br>Property Number: {{ not.HOUSE_FLAT_NO }}</span>
    </div>
  </li>
</ul>

<ul class="notifications-list list-group list-group-flush" *ngIf="showVoting">
  <li class="notification-item list-group-item" *ngFor="let prox of proxArr; let i = index">
    <div class="notification-info">
      <span class="notification-message">You have been nominated to act as a proxy on behalf of:</span>
      <span class="user-name">Name: {{ prox.membName }}<br>CPR Number: {{ prox.membNo }}</span>
    </div>
  </li>
  <li class="notification-item list-group-item" *ngFor="let msg of message; let i = index">
    <div class="notification-info">
      <span class="user-name">Voting Status:</span>
      <span class="notification-message">{{ msg.msg }} </span>
      <button class="btn btn-secondary btn-sm" style="float: right;" (click)="gotoVotingDetails('/voting/details',msg.category,msg.year)">Click here to cast your vote</button>
    </div>
  </li>
</ul>

<!--<ul class="notifications-list list-group list-group-flush" *ngIf="showVoting">
  <li class="notification-item list-group-item">
    <div class="notification-info">
      <span class="user-name">Francesca Metts</span>
      <span class="notification-message">Added a new comment in a chart #2</span>
    </div>
  </li>
</ul>-->
