<div class="container">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info row">
                <div class="col-10">
                    <h2 class="heading-title">{{ mCat }} VOTING - {{ mYear }}</h2>
                </div>
                <div class="col-2">
                    <button mat-raised-button class="bg-warning text-white btn btn-block" [routerLink]="['/voting/overview']" style="float: right;">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
               <h6>Please read through the following set of questions and make sure to cast your vote accordingly. Your votes will be recorded and tallied as soon as the alloted time has elapsed, and the results can be viewed in the Results page.</h6>
            </div>
            <br>
            <form class="form-container" [formGroup]="VotingForm">
                <table class="table table-borderless table-hover table-responsive-xxl" formArrayName="votes">
                    <thead>
                        <tr class="table-reflow" style="background-color: rgb(2, 46, 82); color: white;">
                            <th style="width: 15%;">
                                SL NO
                            </th>
                            <th style="width: 60%;">
                                DESCRIPTION
                            </th>
                            <th style="width: 25%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vote of votes.controls; let i = index;" [formGroupName]="i">
                            <td>
                                {{ this.voteQuestions[i].BLNO }}
                            </td>
                            <td>
                                {{ this.voteQuestions[i].BLEDESCRIPTION }}
                                <hr>
                                {{ this.voteQuestions[i].BLADESCRIPTION }}
                            </td>
                            <td>
                                <mat-radio-group formControlName="vDecision">
                                    <mat-radio-button value="Y">Yes</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <mat-radio-button value="N">No</mat-radio-button>
                                </mat-radio-group>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button class="btn btn-success" type="button" (click)="SubmitForm()"> <mat-icon>how_to_vote</mat-icon>&nbsp;&nbsp;&nbsp;Submit Votes!</button><br>
            <br>
        </div>
    </div>    
</div>