<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-10">
                        <h2 class="heading-title">Voting Registry</h2>
                    </div>
                    <div class="col-2">
                        <button mat-raised-button class="bg-primary text-white btn btn-block" (click)="fireEvent()" style="float: right;">
                            <mat-icon>download</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <mat-tab-group>
                <mat-tab label="Member List">
                    <table #table1 class="table table-striped table-hover table-sm table-bordered" >
                        <thead>
                            <tr style="background-color: darkblue; color: white;">
                                <th></th>
                                <th>Landlord Name</th>
                                <th>CPR</th>
                                <th>Proxy Name</th>
                                <th>Proxy CPR</th>
                                <th>Date</th>
                                <th>Title Deed</th>
                                <th>CPR Copy</th>
                                <th>Proxy Form</th>
                                <th>Balance Due</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of membList; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ m.mName }}</td>
                                <td>{{ m.membNo }}</td>
                                <td>{{ m.mProxName }}</td>
                                <td>{{ m.mProxCPR }}</td>
                                <td>{{ m.mDate | date:'longDate' }}</td>
                                <td>{{ m.mTitleDeedStatus }}</td>
                                <td>{{ m.mCPRStatus }}</td>
                                <td>{{ m.mProxyFormStatus }}</td>
                                <td>BHD {{ m.mBalance }}</td>
                                <td>
                                    <button md-raised-button color="primary" class="btn-w-md ml-2 mat-button text-white"  style="border-radius: 50%;"  (click)="gotoPropertyDetails('/crm/property/details', m.membNo)">
                                    View
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Members who have not sent documents">

                </mat-tab>
            </mat-tab-group>

        </div>
    </div>    
</div>