<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <h2 class="heading-title">Overview</h2>
            </div>
            <hr>
            <div class="col-12" *ngFor="let memb of memberList; let i = index">
                <h6>{{ i+1 }} | You are voting on behalf of: {{ memb.membername }}, CPR: {{ memb.memberno }}</h6>
                <div class="row">
                    <div class="col-lg-4 col-sm-12" *ngFor="let vT of votingType; let i = index" (click)="gotoVotingDetails('/voting/details',vT.BLCATEGORY,vT.YEAR, memb.memberno, memb.membername, memb.membertype)">
                        <mat-card>
                            <mat-card-content>
                                <h4>
                                    {{ i+1 }} | {{ vT.YEAR }}    
                                </h4>
                                <hr>
                                <h4>
                                    {{ vT.BLCATEGORY }}
                                </h4>
                                <h6 style="color: red;">Click on the card to cast your vote.</h6>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>    
</div>      